<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_game.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <br>
    <h1>{{ title }}</h1>
    <br>
    <p>Type those words:</p>
    <p id="wordList">
        {% for word in gamewords %}
            ⏐ {{ word }} ⏐
        {% endfor %}
    </p>
    <form method="post" action="/game">
        <input type="text" id="typedWord" name="typedWord" autofocus autocomplete="off">
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <script>
        function updateWordList() {
            $.getJSON('/get_gamewords', function(data) {
                if (data.game_over) {
                    window.location.href = '/game_over'; 
                } else {
                    $('#wordList').empty();
                    $.each(data.gamewords, function(index, word) {
                        $('#wordList').append("⏐" + word + "⏐");
                    });
                }
            });
        }
    
        updateWordList();
        setInterval(updateWordList, 100);
    </script>
    
</body>
</html>
