<!DOCTYPE html>
<html>
<head>
    <title>sonamang</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
</head>
<body>
    <form method="get" action="/game">
        <button class="button_1" type ="submit">Difficulty 1 </button>
        <button class="button_1" type ="submit">Difficulty 2 </button>
        <button class="button_1" type ="submit">Difficulty 3 </button>
    </form>
    <!--<img src="static/janes1.png" alt=" rabbit " class="png1">-->
</body>
</html>
